// Main card

.wrapper__card{
  background-color: #ababab80;
  border-radius: 15px;
  width: 20vw;
  height: 44vh;
  padding: 0.5% 2% 2% 2.5%;
}

.card{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1% 0 0 3%;
  margin-top: 4%;
  height: 40vh;
  width: 100%;

  &__name{
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
  }

  &__search{
    width: 90%;
    border: none;
    border-bottom: 3px solid #ababab;
    padding: 0 0 1% 40px;
    font-size: 1.2em;
  }

  &__body > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    & > p{
      margin-left: 20px;
    }


  }

  &__body > div{
    font-size: 1.2em;
    margin-top: 5%;
    font-weight: 600;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper{
    background-color: #ababab80;
    border-radius: 15px;
    width: 40%;
    padding: 0.5% 2% 2% 2.5%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper{
    background-color: #ababab80;
    border-radius: 15px;
    width: 40%;
    padding: 0.5% 2% 2% 2.5%;
  }
}





