.table{
    font-family: sans-serif;

    border: 2px solid #000;
    border-radius: 15px;

    width: 60vw;
    height: fit-content;

    margin: 5vh 0 0 5vh;
    padding: 2vh 0 4vh 5vh;
    
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "input teacher department"
        "input teacher department"
        "input teacher buttons";

    border-radius: 15px;

    width: 90%;

    font-weight: 600;
}

.input-cell {
    grid-area: input;
    padding: 10px; 
}

.teacher-cell {
    grid-area: teacher;
    padding: 10px; 
}

.teacher-cell > div{
    padding-bottom: 5px;

    border-bottom: 2px solid #000;
    width: 8vw;
}

.department-cell {
    grid-area: department;
    padding: 10px 0 0 20px;  
    margin: 5px;
}

.buttons-cell {
    grid-area: buttons;
    padding: 10px; 
}

.header button {
    margin-left: 5px;

    width: 20px;
    height: 20px;
}
